:root{
    --primary-color: #ffb7e3;
    --secundary-color: #853265;
    --red: #cc0000;
}

body{
    margin: 0;
    padding: 0;
}

.home{
    font-family: 'Open Sans', sans-serif;
    background-image: url("../img/plan-de-compromiso/background.png");
    background-position: center;
    padding: 20px;
}

.container{
    padding-top: 10px;
    border-radius: 5px;
    background-color: white;
}

.gradient{
    background: linear-gradient(
        45deg,
        white,
        #fd0
    );
}

del{color: var(--red)}

/* DESCRIPTION */
.container__description{padding: 20px;}
.container__description p{font-size: 22px;}
.container__description h2:first-child,
.container__description__red-text
{color: var(--red)}

.container__description h2:first-child{
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.container__description__title{
    text-align: center;
    padding-bottom: 20px;
}

.container__description__title h1{font-size: 26px}


.container__description__red-text{text-align: center}
.container__description__red-text p:first-child{
    font-size: 28px;
    margin: 0;
    color: black;
}

.container__description__red-text h3{
    font-size: 38px;
    max-width: 270px;
    margin: 0 auto;
    margin-top: 30px;
}

.container__description__text{
    line-height: 35px;
}

/* OFFER: */
.container__offer{
    overflow: hidden;
    background-color: var(--primary-color);
}

.triangle{
    width: 0;
    height: 0;
    border-top: 30px solid white;
    border-left: 100vw solid var(--primary-color);
}

.triangle-2{
    width: 0;
    height: 0;
    border-bottom: 30px solid white;
    border-right: 100vw solid var(--primary-color);
}

.container__offer__content{
    background-image: url("../img/plan-de-compromiso/background-offer.jpg");
    max-width: 400px;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--secundary-color);
}

.container__offer__content div{
    padding: 20px;
    text-align: center;
}

.container__offer__content div h2{
    color: var(--secundary-color);
    font-size: 30px;
}

.container__offer img{
    width: 100%;
}

.offer_main-title{
    background-color: var(--secundary-color);
    color: white;
    margin: 0;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}

.offer__ul-title{
    font-size: 24px;
}

li{
    text-align: left;
    margin-bottom: 20px;
}

/* PRICE - PAYMENT */
.container__payment{
    padding: 20px;
}

.container__payment p{
    font-size: 23px;
    line-height: 35px;
}

.container__payment h3{
    font-size: 28px;
    text-align: center;
}

.container__payment p:nth-child(3){text-align: center}

#box_hotmart{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 576px) {

    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .container__description h2:first-child{
        max-width: none;
    }

    .container__description h1{
        font-size: 32px;
    }

    .container__offer__content{
        max-width: 480px;
    }
}

@media screen and (min-width: 760px){

    .container{
        max-width: 930px;
    }

    .container__description{
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }



    .container__description h2:first-child{
        font-size: 36px;
        max-width: none;
    }

    .container__description h1{
        font-size: 44px;
    }

    .container__description__red-text h3{
        max-width: none;
    }

    .container__offer__content{
        max-width: 550px;
    }

    .triangle{
        width: 0;
        height: 0;
        border-top: 70px solid white;
        border-left: 1000px solid var(--primary-color);
    }
    
    .triangle-2{
        border-bottom: 70px solid white;
        border-right: 1000px solid var(--primary-color);
    }

    .offer__ul-title{
        font-size: 30px;
    }

    li{
        font-size: 20px;
    }

    .container__payment{
        max-width: 790px;
        margin-left: auto;
        margin-right: auto;
    }
}
